*{
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --ms_col_first: #8a8a8a;
    --ms_col_sec: #0070D1;
    --ms_col_third: #cd3d0f;
    --ms_col_fourth: #BEBCBB;
    --ms_col_fifth: #1F1F1F;
    --ms_title_size: 2.5rem;
    --ms_sub_title_size: 1.3rem;
}

/* header */

.ms_header_sony{
    width: 100px;
}

.ms_dropdown_menu{
    width: 100vw;
    border-radius: 0!important;
    margin-top: -0.5px !important;
    border: 0 solid black !important; 
}

.ms_border_bot_drop{
    border-bottom: 1px solid #8a8a8a;    
}

/* jumbo */

.ms_jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ms_jumbo_content{
    margin-top: 350px;
    margin-bottom: 70px;
}

.ms_border_list{
    border: 3px solid white;
    outline: 3px solid var(--ms_col_sec);
}

/* hero */

.ms_hero{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* games */

.ms_new_games{
    background-color: var(--ms_col_fifth);
}

.ms_text_games{
    font-size: 1.1rem;
    margin-top: 20px;
}

/* ps plus */

.ms_ps_plus{
    background-color: var(--ms_col_fourth);
}

.ms_ps_plus_img{
    background-color: var(--ms_col_fourth);
}

/* ps-now */

.ms_ps_now{
    background-color: #161c3b;
}

/* footer */

.ms_footer_sec{
    background-color: var(--ms_col_sec);
}

.ms_link_footer{
    color: white;
    text-decoration: none;
}

.ms_footer_list{
    list-style: none;
}

.ms_sony_logo{
    height: 50px;
}

/* general */

.ms_registered{
    font-size: .9rem; 
    line-height: 16px;
    vertical-align: top;
}

.ms_button_red{
    background-color: var(--ms_col_third) !important;
    display: block;
}

.ms_button_blue{
    background-color: var(--ms_col_sec) !important;
    display: inline-block;
    max-width: 180px;
}

.ms_button_plus{
    background-color: #d9dadc !important;
    display: inline-block;
    color: var(--ms_col_sec);
    border: 0px solid black;
}

.ms_button_now{
    background-color: white !important;
    display: inline-block;
    color: #161c3b;
    border: 0px solid black;
}

.ms_title_size{
    font-size: var(--ms_title_size);
}

.ms_subtitle_size{
    font-size: var(--ms_sub_title_size);
    color: var(--ms_col_first);
}

.ms_grayscale{
    filter: grayscale(1);
}

.ms_border_bot{
    border-bottom: 3px solid var(--ms_col_sec);
}

.ms_container_small{
    max-width: 800px;
}
/* media */
